/* ContentSection.css */
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--background-dark);
  margin-bottom: 2rem;
  padding: 5rem;
  padding-top: 2rem;
}

.image-container {
  max-width: 100vh;
  margin-left: 40px;
}

.image-container img {
  width: 80%;
  height: auto;
}

.text-container {
  padding: 2rem;
}

.text-container h2 {
  font-size: var(--text-sm);
  color: var(--primary-color);
}

.text-container p {
  font-size: var(--text-sm);
  text-align: center;
  width: 80%;
}
