.info-section {
  background-color: var(--background-dark);
}

.whatisthis {
  width: 100%;
  background-color: var(--background-dark);
  margin: 0;
  color: white;
  padding-top: 50px;
  padding-right: 65px;
  font-size: var(--text-xs);
}
