.dashboard {
  background-color: var(--background-dark);
  width: 100%;
  height: 100%;
  padding-top: 50px;
  overflow: hidden;
}
.background {
  background-color: var(--background-dark);
  width: 100%;
  height: 100vh;
}
