.feed {
  background-color: var(--primary-color);
  border: 1px solid #e1e1e1;
  /* border-radius: 20px 20px 20px 20px; */
  height: 100vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
