.btn {
  border: none;
  cursor: pointer;
  font-size: var(--text-sm) !important;
}

.btn-primary {
  width: 250px;
  height: 40px;
  background-color: rgb(5, 5, 5) !important;
  color: white;
  /* border: 2px solid black !important; */
  border-radius: 0 !important;
  align-items: center;
}

.btn-secondary {
  width: 250px;
  height: 40px;
  margin-left: 15px;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  border: 2px solid black;
  border-radius: 0 !important;
}

.btn-edit {
  width: fit-content;
  margin-left: 200px;
  background-color: var(--primary-color) !important;
  color: var(--secondary-color);
  border: 1px solid black !important;
  border-radius: 20px !important;
}

.btn-setting {
  width: fit-content;
  border: 1px solid black !important;
  border-radius: 30px !important;
}
