/* MusicPlayer.css */
.music-player {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
}

.play-button {
  width: 30px;
  height: 30px;
  background-color: black;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  cursor: pointer;
}

.progress-bar-container {
  flex-grow: 1;
  background-color: #e1e1e1;
  height: 4px;
  margin: 0 15px;
  position: relative;
}

.progress-bar {
  background-color: rgb(2, 0, 0);
  height: 100%;
  width: 50% !important; /* This is the progress, set it according to current time */
}

.timestamp {
  font-family: "Arial", sans-serif;
  color: black;
  margin-left: 15px;
  font-size: var(--text-sm);
}
