.comment-section {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-logo {
  width: 25px;
  height: 25px;
  border-radius: 50%; /* Circular shape */
  margin-right: 10px;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.comment-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.comment-input {
  width: 80%;
  height: 25%;
  flex-grow: 1;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 25%;
  height: 25%;
  margin-left: 30px;
  background-color: #080808;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: normal;
}

.submit-button:hover {
  background-color: #303030;
}
