.user-card {
  border: 1px solid #6476dc;
}
.card-img {
  cursor: pointer;
  width: 15%;
  min-width: 100px;
}
.card-img img {
  width: 65%;
  max-width: 60px;
  margin: 20px;
  border-radius: 100px;
  min-height: 60px;
  object-fit: cover;
}
.card-body {
  cursor: pointer;
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-body h1 {
  color: white;
  font-size: large !important;
}
.card-body h3 {
  color: white;
  font-size: medium !important;
  font-weight: lighter;
}
.card-description {
  color: white;
  font-size: medium !important;
}
.card-button button {
  border: solid 1px black;
  border-radius: 100px;
  color: white;
  background-color: #6476dc;
  font-size: large;
  padding: 2px;
  width: 100%;
  margin: 10px;
}
.card-button {
  margin-top: 4px;
  margin-right: 50px;
}
/* Button styling when followed */
.card-button .followed {
  background-color: black; /* Change the background color to indicate follow status */
  border: 1px solid #6476dc;
  color: white;
  /* other styles for the followed state */
}
