.post {
  border: 0.1rem solid #6476dc;
  /* border-radius: 25px !important ; */
  margin: 12px !important;
  padding: 10px !important;
  background-color: rgb(0, 0, 0) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
  /* border: 1px solid #6476dc; */
  /* border-radius: 20px; */
}

.post h1 {
  font-size: var(--text-xl) !important;
  text-overflow: ellipsis;
  white-space: initial;
  color: #6476dc;
}
.post h2 {
  text-overflow: ellipsis;
  font-size: var(--text-lg);
  color: #6476dc;
}

.post h3 {
  text-overflow: ellipsis;
  font-size: var(--text-md);
  color: #5292d6;
}

.post .post-user p {
  font-size: var(--text-sm);
  color: white;
  margin-bottom: 0rem;
  margin-left: 1rem;
}

.post p {
  color: white;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  /* border-radius: 10px; */
  padding: 1px;
}

.music-body img {
  width: 150px;
  height: auto;
}
.post-header h3 {
  margin-left: 10px;
}
.post p {
  font-size: var(--text-sm);
  border: 0;
  white-space: initial;
  border: 1px solid black;
}

.post-image {
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

.post-user {
  display: flex;
  align-items: center;
  flex: 1;
}

.post-body {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.post-stat {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6476dc;
}
.post-stat span {
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: text-bottom !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
